$default: #436372;
$accent: #243f4d;
$title: #191919;

%rubik-400 {
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
}

%dm-500 {
  font-family: 'DMSans-Medium', sans-serif;
  font-weight: 500;
}

%dm-700 {
  font-family: 'DMSan-Bold', sans-serif;
  font-weight: 700;
}